#API KEYS
API_KEY=API KEY
API_KEY_2=API KEY #FINNHUB
BASE_URL=url
BASE_URL_2=url #FINNHUB

# Database Configuration
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=database_name